@model ReiRexhajEpSolution.Domain.Models.Poll

<h2>Poll Details</h2>
<h3>@Model.Title</h3>

<div>
    <p><strong>Option 1:</strong> @Model.Option1Text - Votes: @Model.Option1VotesCount</p>
    <p><strong>Option 2:</strong> @Model.Option2Text - Votes: @Model.Option2VotesCount</p>
    <p><strong>Option 3:</strong> @Model.Option3Text - Votes: @Model.Option3VotesCount</p>
</div>

<a asp-action="Index">Back to Polls</a>
