@model ReiRexhajEpSolution.Domain.Models.Poll
@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";
}
<h2>@Model.Title</h2>

<p>
    Option 1: @Model.Option1Text - Votes: @Model.Option1VotesCount<br />
    Option 2: @Model.Option2Text - Votes: @Model.Option2VotesCount<br />
    Option 3: @Model.Option3Text - Votes: @Model.Option3VotesCount
</p>

<hr />
<h3>Vote Now</h3>
<form method="post" action="/Poll/Vote">
    <input type="hidden" name="pollId" value="@Model.Id" />
    <label>
        <input type="radio" name="optionNumber" value="1" required /> @Model.Option1Text
    </label><br />
    <label>
        <input type="radio" name="optionNumber" value="2" required /> @Model.Option2Text
    </label><br />
    <label>
        <input type="radio" name="optionNumber" value="3" required /> @Model.Option3Text
    </label><br />
    <button type="submit">Vote</button>
</form>
